<mat-toolbar color="primary">
  <span>Employee Management</span>
  <span class="example-spacer"></span>
  <div>
    <button
      mat-raised-button
      *ngIf="auth === true"
      (click)="openAddEditEmpForm()"
    >
      Add Employee
    </button>
    <button
      mat-raised-button
      *ngIf="auth === true"
      (click)="logout()"
      class="logout"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
<div *ngIf="auth === true" class="main-body"><app-emp-list></app-emp-list></div>
<div *ngIf="auth === false">
  <app-login (changeAuth)="changeAuth($event)"></app-login>
</div>
